body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--dark);
}

h1 {
    background-color: var(--pupler);
    color: var(--white);
    padding: 15px 0;
    font-size: 1.5rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container{
    position: absolute;
    width: 360px;
    min-height: 650px;
    background: var(--white);
    box-shadow: 0px 0px 3px 3px rgba( 0, 0, 0, .2);
    border-radius: 20px;
}

.none {
    display: none;
}

#winner, #loser {
    color: var(--white);
    background-color: var(--pupler);
}

.end__screen h3 {
    font-size: 2.2rem;
    text-transform: uppercase;
}

.end__screen button{
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}

.end__screen span {
    font-size: 3rem;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bloco {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.placar {
    width:  200px;
    height: 76px;
    border: 2px solid var(--pupler);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}